<ons-toolbar>
  <div class="left">
    <ons-back-button></ons-back-button>
  </div>
  <div class="center">餘額查詢</div>
</ons-toolbar>
<div style="text-align: center; margin: 10px">
  <ons-list>
    <ons-list-header>帳號 - {{card_info.id}}</ons-list-header>
    <ons-list-item>
      <label style="height: 31px; line-height: 31px; margin-right: 5%;">輸入卡片密碼:</label>
      <div (click)="showNumKeyboard()" id="input_for_keyboard">
        <ons-input type="text" placeholder="密碼" [(value)]="card_pwd" style="text-align:center" readonly></ons-input>
      </div>
    </ons-list-item>
    <ons-list-item>
      <label style="height: 31px; line-height: 31px;">已輸入 {{card_pwd.length}} 位密碼</label>
    </ons-list-item>
  </ons-list>
  <div style="margin-top: 20px;">
    <ons-button (click)="inquiryProcess()" style="text-align: center; margin-right: 20%;">確認查詢</ons-button>
    <ons-button (click)="popPage()">取消查詢</ons-button>
  </div>
</div>

<ht-keyboard-num [nowValue]="card_pwd" [isOpen]="isShowKeyboard" (resultValue)="getkeyboardNumVal($event)"
  (onCloseKeyboard)="onClosekeyboardNum($event)"></ht-keyboard-num>