<div id="numKeyboard" *ngIf="isOpen">
  <div class="ht-c-keyboard ht-c-keyboard--num ht-u-user-select-none {{isKeyboardActive ? 'active' : ''}}" id="softkeys">
    <div class="ht-c-keyboard__status">
      <span class="confirm-btn" (click)="confirmClick()">完成</span>
    </div>
    <div
      class="ht-c-keyboard__softkeys d-flex flex-wrap align-items-center justify-content-center {{isUppercase ? 'ht-t-uppercase' : ''}}">
      <ng-container *ngFor="let key of keyboardOrder">
        <span *ngIf="key != 'confirm' && key != 'delete'" (click)="itemClick(key)">{{key}}</span>
        <span *ngIf="key == 'delete'" class="delete-btn" (click)="delClick()">&nbsp;</span>
      </ng-container>
    </div>
  </div>
</div>