<ons-toolbar>
  <div class="left">
    <ons-back-button (click)="popPage()"></ons-back-button>
  </div>
  <div class="center">轉帳作業</div>
</ons-toolbar>
<div style="text-align: center; margin: 10px">
  <ons-list>
    <ons-list-item>
      <label style="height: 31px; line-height: 31px; margin-right: 5%;">轉出銀行代號:</label>
      <label>{{card_info.issuer.label}}</label>
    </ons-list-item>
    <ons-list-item>
      <label style="height: 31px; line-height: 31px; margin-right: 5%; width: 30%; text-align: right;">轉出帳號:</label>
      <label>{{card_info.mainAccount}}</label>
    </ons-list-item>
    <ons-list-item>
      <label style="height: 31px; line-height: 31px; margin-right: 5%;">轉入銀行代號:</label>
      <div>
        <ons-select [(ngModel)]="transBankValue">
          <option *ngFor="let bank of bankList" [value]="bank.value">
            {{ bank.label }}
          </option>
        </ons-select>
      </div>
    </ons-list-item>
    <ons-list-item>
      <label style="height: 31px; line-height: 31px; margin-right: 5%;">轉入帳號:</label>
      <ons-input type="tel" placeholder="請輸入帳號" [(value)]="trans_account" style="text-align:center"></ons-input>
    </ons-list-item>
    <ons-list-item>
      <label style="height: 31px; line-height: 31px; margin-right: 5%;">轉帳金額:</label>
      <ons-input type="tel" placeholder="請輸入金額" [(value)]="amount" style="text-align:center">
      </ons-input>
    </ons-list-item>
    <ons-list-item>
      <label style="height: 31px; line-height: 31px; margin-right: 5%;">卡片密碼:</label>
      <div (click)="showNumKeyboard()" id="input_for_keyboard">
      <ons-input type="password" placeholder="請輸入密碼" [(value)]="card_pwd" style="text-align:center" readonly>
      </ons-input>
      </div>
    </ons-list-item>
  </ons-list>
  <div style="margin-top: 20px;">
    <ons-button (click)="pushTransConfirm()" style="text-align: center; margin-right: 20%;">確認交易</ons-button>
    <ons-button (click)="popPage()">取消交易</ons-button>
  </div>
</div>

<ons-modal id="showPullOut">
  <p>請拔出卡片</p>
</ons-modal>
<ons-modal id="showInsertIn">
  <p>請插入卡片</p>
</ons-modal>
<ht-keyboard-num [nowValue]="card_pwd" [isOpen]="isShowKeyboard" (resultValue)="getkeyboardNumVal($event)"
  (onCloseKeyboard)="onClosekeyboardNum($event)"></ht-keyboard-num>
