<ons-toolbar>
  <div class="left">
    <ons-back-button></ons-back-button>
  </div>
  <div class="center">轉帳作業</div>
</ons-toolbar>
<div style="text-align: center; margin: 10px">
  <ons-list>
    <!-- <ons-list-header>Bindings</ons-list-header> -->
    <ons-list-item>
      <label style="height: 31px; line-height: 31px; margin-right: 5%; width: 30%; text-align: right;">主帳號:</label>
      <label>{{this.card_info.id}}</label>
    </ons-list-item>
    <ons-list-item>
      <label style="height: 31px; line-height: 31px; margin-right: 5%;">轉入銀行代號:</label>
      <div>
        <ons-select [(ngModel)]="transBankID">
          <option *ngFor="let bank of bankList" [value]="bank.value">
            {{ bank.label }}
          </option>
        </ons-select>
      </div>
    </ons-list-item>
    <ons-list-item>
      <label style="height: 31px; line-height: 31px; margin-right: 5%;">轉入帳號:</label>
      <ons-input placeholder="請輸入帳號" [(value)]="trans_account" style="text-align:center"></ons-input>
    </ons-list-item>
    <ons-list-item>
      <label style="height: 31px; line-height: 31px; margin-right: 5%;">轉出金額:</label>
      <ons-input placeholder="請輸入金額" [(value)]="amount" style="text-align:center">
      </ons-input>
    </ons-list-item>
    <ons-list-item>
      <label style="height: 31px; line-height: 31px; margin-right: 5%;">卡片密碼:</label>
      <ons-input type="password" placeholder="請輸入密碼" [(value)]="card_pwd" style="text-align:center">
      </ons-input>
    </ons-list-item>
  </ons-list>
  <div style="margin-top: 20px;">
    <ons-button (click)="pushTransConfirm()" style="text-align: center; margin-right: 20%;">確認交易</ons-button>
    <ons-button (click)="popPage()">取消交易</ons-button>
  </div>
</div>
